@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.background-cover{
    background-size: cover;
    background-position: bottom;
    transition:0.4s ease-out;
    height:130vh !important ;
    background-attachment: fixed;
    width:100% !important;
     
} 

.night{
    background-image: linear-gradient(to top, #080808, #17191ad0, #8091915b, #bac2be15, #f5f6f321),url(https://cutewallpaper.org/21/4k-sky-wallpaper/Night-sky-stars-and-comet-Wallpaper-4k-Ultra-HD-ID3036.jpg);

    /* background-image: url(https://cutewallpaper.org/21/4k-sky-wallpaper/Night-sky-stars-and-comet-Wallpaper-4k-Ultra-HD-ID3036.jpg); */
}
.morning{
    /* background-image: url(https://wallpaperaccess.com/full/175910.jpg); */
    /* background-image: linear-gradient(to top,  rgb(35, 58, 65),#042938ce,#070d0de0,#070d0d),url(https://wallpaperaccess.com/full/175910.jpg); */
    background-image: linear-gradient(to top, #293343, #4e616a, #809191, #bac2be, #f5f6f3),url(https://wallpaperaccess.com/full/175910.jpg);
}


.static{
  background-image: linear-gradient(to top, #080808, #17191ad0, #465050a8, #bac2be15, #f5f6f321),url(../../../assets/backgrounds/weather2.jpg);

}
.font{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    /* font-weight: bold; */
    font-size: 20px;
    text-align:center
}

.details{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 13px;
    /* text-align:center */
}
.container-1{
    display: flex;
    margin-top: 5%;
}
.flex-box{
    flex: 1;
    color: #fff;
}
.box{
    
    /* width: 100px;
    height: 130px;
    padding:1%;
   */
    width: 125px;
     
    padding-left: 2%;
    margin: 1px;
    padding-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, 0);

}
.box:hover{
    border: 2px solid #fff;
     transition: ease 0.2s;
    background-color: #80808030;

}
.box:active{
   
    background-color: #80808070;

}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
    .wrapper {
      display: inline-block;
    }
  .smallImage{
    height: 43%;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: tranparent; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff59;
  }

  .grid-border{
    padding-right: 6px;
    /* margin: 21px; */
    margin: 10px;
    margin-left: 31px;
  }

  .day-details{ 
     text-align:left;
    
  }
  .icon-size{
    height: 35px;
  }

  .sun{
    font-size: 30px;
  }